---
import { render } from 'astro:content';
import * as Texts from '@/assets/common.json';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { Image } from 'astro:assets';

const locale = (Astro.currentLocale as "en" | "es") || "en";
const texts = Texts[locale];

const { char } = Astro.props;
const { Content } = await render(char);
---
<article class="max-w-8xl mx-auto px-7 pt-24 lg:pt-32 pb-10 lg:pb-16">
  <a class="inline-flex items-center gap-1 py-2 hover:text-primary-100 transition-colors mb-2" href={getRelativeLocaleUrl(Astro.currentLocale as string, '/characters')}>
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.03864 10.7371C6.88241 10.5808 6.79465 10.3689 6.79465 10.1479C6.79465 9.92698 6.88241 9.71506 7.03864 9.55878L11.7528 4.84462C11.8297 4.76503 11.9216 4.70154 12.0233 4.65787C12.125 4.61419 12.2343 4.5912 12.345 4.59024C12.4556 4.58928 12.5654 4.61036 12.6678 4.65227C12.7702 4.69417 12.8632 4.75604 12.9415 4.83429C13.0197 4.91253 13.0816 5.00557 13.1235 5.10799C13.1654 5.2104 13.1865 5.32014 13.1855 5.43078C13.1846 5.54143 13.1616 5.65078 13.1179 5.75245C13.0742 5.85412 13.0107 5.94608 12.9311 6.02295L8.80614 10.1479L12.9311 14.273C13.0829 14.4301 13.1669 14.6406 13.165 14.8591C13.1631 15.0776 13.0755 15.2866 12.921 15.4411C12.7665 15.5956 12.5575 15.6833 12.339 15.6852C12.1205 15.6871 11.91 15.6031 11.7528 15.4513L7.03864 10.7371Z" fill="currentColor"/>
    </svg>
    {texts.back}
  </a>
  <div class="flex flex-col lg:flex-row gap-4 lg:gap-10">
    <div class="w-1/3 relative">
      <div class="absolute blur-3xl -z-10 scale-90">
        <Image src={char.data.cover} alt={char.data.name} />
      </div>
      <div class="relative">
        <Image src={char.data.cover} alt={char.data.name} transition:name={`${char.data.slug}-cover`} />
      </div>
    </div>
    <div class="w-2/3">
      <h1 class="font-heading text-night dark:text-light text-xl lg:text-4xl font-bold" transition:name={char.data.slug}>{char.data.name}</h1>
      <div class="prose max-w-none">
        <Content />
      </div>
    </div>
  </div>
</article>
