---
import Texts from '@/assets/common.json';
import { PIXIV_IMAGES } from '@/consts/pixivImages';
import ImageCard from "@/components/ImageCard.astro";

const locale = (Astro.currentLocale as "en" | "es") || "en";
const texts = Texts[locale];
---

<div class="max-w-8xl mx-auto px-7 py-32">
  <h2 class="font-heading font-extrabold leading-tight text-center text-3xl sm:text-5xl text-primary-100 mb-4 lg:mb-6">{texts.siteImages}</h2>
  <p class="lg:text-xl text-center">{texts.siteImagesText}</p>
  <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 xl:gap-12 mt-10 lg:mt-20">
    {PIXIV_IMAGES.map(({ image, artistName, artistId, imageId }) => (
      <li>
        <ImageCard
          image={image}
          artist={artistName}
          pixivCode={artistId}
          imageCode={imageId}
        />
      </li>
    ))}
  </ul>
</div>
